[Unit]
Description=Podman cron.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target daphne.service omnileads.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=host \
  --log-driver=journald \
  --env-file=/etc/default/sentiment_analysis.env \
  --name=oml-sentiment_analysis-server \
{% if speech_analytics_model == "gcp" %}
  --volume=/etc/omnileads/google_credential.json:/tmp/google_credential.json \
{% endif %}
  --rm  \
{% if speech_analytics_model == "local" %}
  {{ sentiment_analysis_img }} python /app/app_psysent.py
{% else %}
{{ sentiment_analysis_img }} python /app/app_{{ speech_analytics_model }}.py
{% endif %}  

ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
