#!bin/bash

## Postgres VIP repmgr cluster
## Virtual IP bash script manager

HA_NIC={{ ha_vip_nic }}
VIP_MAIN={{ postgres_rw_vip }}
VIP_BACKUP={{ postgres_ro_vip }}
VIP_SUBNET={{ netprefix }}

export HA_NIC VIP_MAIN VIP_BACKUP VIP_SUBNET
