[Unit]
Description=PGSQL HA Virtual IP
After=postgresql.service

[Service]
Type=simple
User=root
EnvironmentFile=/etc/default/postgres_vip.sh
ExecStart=/opt/omnileads/postgres_vip_manager.sh
WorkingDirectory=/opt/omnileads
PIDFile=/opt/omnileads/postgres_vip_manager.pid
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
