[Unit]
Description=RepMgr for PostgreSQL {{ ha_postgresql_version }}
Documentation=https://repmgr.org/docs/current/index.html
After=network.target postgresql.service

[Service]
Type=notify
Environment=PGDATA=/var/lib/postgresql/{{ ha_postgresql_version }}/main
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
KillMode=process
NotifyAccess=all
StandardOutput=journal
StandardError=journal

# Comandos para iniciar y detener el contenedor de repmgrd usando Podman
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --rm \
  --network=host \
  --log-driver=journald \
  --env-file=/etc/default/postgres.env \
  --name=oml-repmgr-server \
  --volume=oml_postgres:/var/lib/postgresql/data \
  --volume=/etc/omnileads/repmgr.conf:/etc/postgresql/repmgr.conf \
  --user=postgres \
  {{ postgres_ha_img }} repmgrd -f /etc/postgresql/repmgr.conf --daemonize=false

ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id

[Install]
WantedBy=default.target
