[Install]
WantedBy=multi-user.target

[Unit]
Description=container-oml-websockets-server
Requires=container-oml-redis
After=container-oml-redis

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
--cidfile=%t/%n.ctr-id \
--cgroups=no-conmon \
--rm \
--sdnotify=conmon \
--detach \
--replace \
--env-file=/etc/default/websockets.env \
--name=oml-websockets-server \
--network=host \
{{ container_image_registry }}/omnileads/websockets:{{ websockets_version }}
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all
