[Unit]
Description=Podman interaction_processosr.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target rabbitmq.service 
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=host \
  --log-driver=journald \
  --env-file=/etc/default/interaction_processor.env \
  --name=oml-interaction_processor-server \
  --volume=asterisk_callrec:/var/spool/asterisk/monitor \
  --rm  \
{{ interaction_processor_img }} python /app/app.py
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
