[Install]
WantedBy=multi-user.target

[Unit]
Description=container-oml-redis-server

[Service]
ExecStart=/usr/bin/podman run \
--env-file=/etc/default/redis.env \
--name=oml-redis-server \
--network=host \
--rm \
--volume=/etc/default/loki.yml:/mnt/config/loki-config.yaml \
--name=loki-server \
{{ container_image_registry }}/grafana/loki \
-config.file=/mnt/config/loki-config.yaml
ExecStop=/usr/bin/podman stop oml-websockets-server
Restart=on-failure
Type=simple
