[Unit]
Description=Podman promtail.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id

{% if inventory_hostname in groups['omnileads_app'] %}
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=host \
  --volume=/etc/default/promtail.yml:/etc/promtail/promtail.yml \
  --volume=oml_promtail:/tmp \
  --volume=django_logs:/var/log/django/:ro \
  --volume=nginx_logs:/var/log/nginx:ro \
  --name=promtail-server \
  --rm  \
  {{ container_image_registry }}/grafana/promtail -config.file=/etc/promtail/promtail.yml -config.expand-env=true
{% elif inventory_hostname in groups['omnileads_voice'] %}
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=host \
  --volume=/etc/default/promtail.yml:/etc/promtail/promtail.yml \
  --volume=oml_promtail:/tmp \
  --volume=asterisk_logs:/var/log/asterisk/:ro \
  --volume=rtpengine_logs:/var/log/rtpengine:ro \
  --name=promtail-server \
  --rm  \
  {{ container_image_registry }}/grafana/promtail -config.file=/etc/promtail/promtail.yml -config.expand-env=true
{% elif inventory_hostname in groups['omnileads_data'] %}
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=host \
  --volume=/etc/default/promtail.yml:/etc/promtail/promtail.yml \
  --volume=oml_promtail:/tmp \
  --volume=postgres_logs:/var/log/postgres/:ro \
  --volume=redis_logs:/var/log/redis:ro \
  --name=promtail-server \
  --rm  \
  {{ container_image_registry }}/grafana/promtail -config.file=/etc/promtail/promtail.yml -config.expand-env=true
{% else %}
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=host \
  --volume=/etc/default/promtail.yml:/etc/promtail/promtail.yml \
  --volume=oml_promtail:/tmp \
  --volume=postgres_logs:/var/log/postgres/:ro \
  --volume=redis_logs:/var/log/redis:ro \
  --volume=django_logs:/var/log/django/:ro \
  --volume=nginx_logs:/var/log/nginx:ro \
  --name=promtail-server \
  --volume=asterisk_logs:/var/log/asterisk/:ro \
  --volume=rtpengine_logs:/var/log/rtpengine:ro \
  --rm  \
  {{ container_image_registry }}/grafana/promtail -config.file=/etc/promtail/promtail.yml -config.expand-env=true
{% endif %}     

ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
