[Unit]
Description=Podman kamailio.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target redis.service
After=network-online.target redis.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
--cidfile=%t/%n.ctr-id \
--cgroups=no-conmon \
--rm \
--sdnotify=conmon \
--detach \
--replace \
--env-file=/etc/default/kamailio.env \
-v /etc/omnileads/certs:/etc/omnileads/certs \
--name=oml-kamailio-server \
--network=host \
{{ kamailio_img }}
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
