[Unit]
Description=Podman asterisk_config.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
MemoryLimit=
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=host \
  --env-file=/etc/default/asterisk.env \
  --volume= etc_asterisk:/etc/asterisk/omnileads \
  --name=oml-asterisk_config-server \
  --rm  \
  {{ container_image_registry }}/omnileads/asterisk:{{ asterisk_version }} \
  python3 /opt/asterisk/virtualenv/scripts/regenerar_asterisk.py &
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
