[Unit]
Description=Podman asterisk.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target asterisk_retrieve_conf.service
After=network-online.target asterisk_retrieve_conf.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
{% if scale_asterisk is defined and scale_asterisk %}
MemoryMax={{ asterisk_mem_limit }}
{% else %}
MemoryMax=
{% endif %}
ExecStartPre=/bin/rm -f %t/%n.ctr-id
{% if tts_external_engine is defined and tts_external_engine == "gcp" %}  
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=host \
  --log-driver=journald \
  --env-file=/etc/default/asterisk.env \
  --name=oml-asterisk-server \
  --rm  \
  --volume=asterisk_callrec:/var/spool/asterisk/monitor \
  --volume=asterisk_conf:/etc/asterisk/retrieve_conf \
  --volume=asterisk_sounds:/var/lib/asterisk/sounds/oml \
  --volume=/etc/omnileads/google_credential.json:/tmp/google_credential.json \
  {{ asterisk_img }}  
{% else %}
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=host \
  --log-driver=journald \
  --env-file=/etc/default/asterisk.env \
  --name=oml-asterisk-server \
  --rm  \
  --volume=asterisk_callrec:/var/spool/asterisk/monitor \
  --volume=asterisk_conf:/etc/asterisk/retrieve_conf \
  --volume=asterisk_sounds:/var/lib/asterisk/sounds/oml \
  {{ asterisk_img }}
{% endif %}

ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
StandardOutput=journal
StandardError=journal
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
