[Unit]
Description=Podman cron.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target daphne.service omnileads.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --sdnotify=conmon \
  --replace \
  --detach \
  --network=host \
  --log-driver=journald \
  --env-file=/etc/default/fastagi.env \
  --name=oml-fastagi-server \
  --rm  \
  {{ img_registry_core_url }}/{{ img_registry_core_repo }}/fastagi:{{ fastagi_version }}
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
